<!--  string interpollation 'data' from ts page-->
<h1 class="text-white p-3 mt-3">{{data}}</h1> 

<div class="w-50  p-5 text-center "> 
<h1 class=" mt-5 p-5 " style="color: rgb(41,91,93);">Sign In</h1>
<form style="background-color: rgba(65,97,126,0.385); border-radius: 20px;" action="" class="formlogin my-2 p-3 ms-5 text-center border ">
    <div class="p-2 mt-2  container">
        <!-- property binding  -->
        <input (change)="unamechange($event)" id="ac" [placeholder]="placeholderData" class="form-control" type="text">

    </div>
    <div class="p-2 mt-2">
<input type="text" placeholder="password" class="form-control" id="pw">
    </div>
    <button (click)="login()" type="submit" class="btn btn-info mt-4 p-2">login</button>
    <p class="mt-2" style= "color:rgb(250,250,250)"> dont have account?
    <a style="text-decoration: none; color: white;">
    <strong>Create Account</strong>
    </a>
    </p>

</form>
</div>
